<ul>
  <% @tags.each do |tag| %>
    <li>
      <%= tag.name %> --
      <%= link_to 'entries', show_entries_tagged_url(tag.name) %>
      &nbsp;
      <%= link_to 'notes', show_notes_tagged_url(tag.name) %>
    </li>
  <% end %>
</ul>
